{% load staticfiles %}
<html>
	<head>
		<title>Go Passion </title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href = '//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	</head>

	<body>
	
		<div class ="page-header"> 
			
			<a class="navbar-brand" href="{%url 'home' %}"> 
                                <!--Insert the file name of your brand image below after the 'img'-->
                                 <img class="img-responsive" src="/static/bootstrap/img/INSERT IMAG OF BRAND HERE"> 
                            </a>
			<h1 align = "center"> Go Passion </h1>


		</div>



		<div class= "navbar-wrapper">
			<div class="container">
        		<nav class = "navbar navbar-inverse navbar-top" id="navbar_whole">

                	<div class = "navbar-header">
                    		<button type= "button" class = "navbar-toggle collapsed" data-toggle = "collapse" data-target= "#navbar" aria-expanded="false" aria-controls = "navbar">
                        	<span class="sr-only">Toggle navigation</span>
	                        <span class="icon-bar"></span>
        	                <span class="icon-bar"></span>
	                        <span class="icon-bar"></span> 
	                    </button> 
	                    <!--Below is the top-left hand side of the screen where you usually see a company/project name and a logo-->
        	            <!--The next line sends the user back to the home page-->
        	            <a class="navbar-brand" href="{%url 'home' %}"> 
                	        <!--Insert the file name of your brand image below after the 'img'-->
                	         <img class="img-responsive" src="/static/bootstrap/img/INSERT IMAG OF BRAND HERE">  
                   	    </a> 
	                </div>
	
        	        <div id= "navbar" class="navbar-collapse collapse">
                	    <ul class="nav navbar-nav" >
                     		 <!--Below is where you put the rest of the links to the pages you've created. Please reference your own modelsin Django.-->
                       		 <li>
                           		 <a href="{% url 'home' %}">Login</a>
                       		 </li>
	                         <li>
         		                   <a href="{% url 'home' %}">Sign Up</a>
                       		 </li>
                           </ul>
               		 </div>
       			 </nav>
  			 </div>
		</div>
		<div class="content container">
                        <div class = "row">
                                <div class = "cols-md-8">
                                        {% block content %}
                                        {% endblock %}
                                </div>
                        </div>
                </div>


	</body>
</html>
