{% extends 'Hobbies/base.html' %}

{% block content %}
    <h1> Categories List<h1>
    {% if categories %}
	<div id="horizontalmenu" float = "right">
            <ul class="menu">
            {% for cat in categories %}
		<li> {{cat.category}}  </li>		
		{% if categories_map %}
		    {% for cat_map in categories_map %}			
			{% if cat.id == cat_map.category_id.id %}
			   
			        <div id="horizontalmenu" float = "right">
                            	<ul class="menu">
					<li> {{cat_map.sub_category_id}}  </a> </li>                    
                                 </ul>
                                 </div> 
                           
			{% endif %}
		    {% endfor %}
	        {% endif %}
	    {% endfor %}
	</ul>
	</div>
    {% else %}
	<p> Haiiii there are no categories </p>
    {% endif %}
{% endblock %}
